/* -------------- */
/* --- Colors --- */
/* -------------- */
$blue:   #2f3b42;
$yellow: #d6ba30;
$grey: #e7e8e9;




/* ------------- */
/* --- Fonts --- */
/* ------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
$font-primary:   'Poppins', sans-serif;
// $font-secondary: 'Manrope', sans-serif;


/* -------------- */
/* Grid Variables */
/* -------------- */
$nbCol: 10;
